.header{
  display: flex;
  /* 공간을 두고 정렬 */
  justify-content: space-between;
  margin-bottom: 30px;
}

.header .header__title{
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  
}

.header .header__icon{
  font-size: 20px;
  margin-left: 20px;
  /* 위로올리면 커서  */
  cursor: pointer;
}

.header .header__header-column{
  display:flex;
  /* margin-right: 10px; */
  align-items: center;
}

.header .header__title{
  margin-left: 15px;
}

.header .header-back-btn{
  font-size: 24px;
}